@import './reset';
@import './variables';
@import './mixins';
@import './fonts';

// == [global styles]
html {
  font-size: 10px; // = 1rem
}

body {
  background-color: $color-black;
  font: normal 400 1rem/1.2 $font-primary;
  color: $color-white;
  scroll-behavior: smooth;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

// == [input styles]
input,
textarea,
select {
  caret-color: $color-black;
  -webkit-appearance: none;
  border-radius: 0;

  &:-webkit-autofill {
    &,
    &:hover,
    &:focus {
      -webkit-text-fill-color: $color-black;
      background-color: $color-white !important;
      box-shadow: 0 0 0 100px $color-white inset;
      transition: background-color 10000s ease-in-out 0s;
      filter: none;
      caret-color: $color-black;

      &::first-line {
        // the same as input fonts
        font: normal 400 2.4rem/1.3 $font-primary;
      }
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

// == [touch effects]
@media (hover: none) {
  button,
  label,
  a {
    -webkit-tap-highlight-color: rgba($color-black, 0.15);
  }
}

/*
    no classes in global.scss!
    classes are only used in scss-modules
    => for using localIdentName
*/
