// == [fonts]
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Some Font two', sans-serif;
$font-tertiary: 'Some Font three', sans-serif;

// == [colors]
$color-white: #eeeeee;
$color-black: #111213;
$color-red: #eb5757;
$color-green: #00745a;
$color-green-light: #17c9a1;

// == [z-indexes]
$z-menu: 100;
$z-background: -10;
